.header {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

.imageContainer {
  height: 80px;
  width: 80px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.image {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
  }

  .image {
    height: 60px;
    width: 60px;
  }

  .imageContainer {
    height: 60px;
    width: 60px;
    position: relative;
  }

  .title {
    font-size: 1rem;
  }
}
