.image-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
}



.card {
  background-color: rgb(43, 42, 42);
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.card:hover {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}
