.watched-button {
  /* background: linear-gradient(180deg, rgb(196, 146, 52), rgb(204, 112, 6));
   */
  background-color: white;
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 14px;
}
