.signin {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin:hover {
  color: black;
}

@media (max-width: 1400px) {
  .signin {
    padding: 3px;
    font-size: 11px;
  }
}
