.button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ffffff67;
}

.button-watch-later {
  background-color: #28a74600;
  color: #fff;
}

.button-watch-later:hover {
  background-color: #218838;
}

.button-watched {
  background-color: #007bff00;
  color: #fff;
}

.button-watched:hover {
  background-color: #0056b3;
}

.button-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
