.slideshow {
  width: 25rem;
  height: 40rem;
}

.article {
  font: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: 3rem;
  max-width: 50rem;
  color: #ddd6cb;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main-container {
  display: flex;
  height: 100;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: calc(100vh - 90px);
}

.highlight {
  background: linear-gradient(90deg, #00a2ff, #18f7ff);
  padding: 0 0 0 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
}

.explore {
  border: 0;
  padding: 0.75rem 4rem;
  background: linear-gradient(90deg, #2a6cf9, #05b0ff);
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 3rem;
  margin-top: 4rem;
  text-decoration: none;
}

.explore:hover {
  background: linear-gradient(90deg, #1d49a8, #043b8d);
}

.decription {
  display: flex;
  justify-content: center;
  align-items: center;
}
