.slideshow {
  max-width: 400px;
  max-height: 600px;
  height: 100%;
  overflow: hidden;
}

.article {
  font: bold;
  font-family: "Montserrat", sans-serif;
  max-width: 40rem;
  color: #ddd6cb;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* height: calc(100vh - 90px); */
  height: 100%;
}

.highlight {
  background: linear-gradient(90deg, #00a2ff, #18f7ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.explore {
  border: 0;
  padding: 0.75rem 4rem;
  background: linear-gradient(90deg, #2a6cf9, #05b0ff);
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  max-width: 200px;
}

.explore:hover {
  background: linear-gradient(90deg, #1d49a8, #043b8d);
}

.description {
  max-width: 35rem;
  width: 100%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (max-width: 1400px) {
  .highlight {
    font-size: 3rem;
  }
  .description {
    margin-left: 1rem;
    max-width: 25rem;
  }

  .article {
    font-size: 1rem;
  }
  .slideshow {
    max-width: 380px;
    max-height: 450px;
    height: 100%;
  }
}

@media (max-width: 890px) {
  .slideshow {
    max-width: 350px;
    max-height: 400px;
    height: 100%;
  }

  .description {
    margin-left: 8px;
    max-width: 20rem;
  }

  .highlight {
    font-size: 2.5rem;
  }

  .article {
    margin-top: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: 100%;
    justify-items: center;
  }

  .highlight {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    margin-left: 0;
    max-width: 500px;
  }

  .article {
    font-size: 1rem;
    text-align: center;
  }

  .slideshow {
    max-width: 100%;
    max-height: 60%;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px 0;
  }
  .explore {
    margin: 0 auto;
  }
}
