.slideshow {
  width: 25rem;
  height: 40rem;
}

.article {
  font: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: 3rem;
  max-width: 50rem;
  color: #ddd6cb;
  font-size: 1.5rem;
}

.main-container {
  padding-top: 6rem;
  display: flex;
  max-width: 80%;
  justify-content: center;
  margin: auto;
}

.highlight {
  background: linear-gradient(90deg, #00a2ff, #18f7ff);
  /* background: linear-gradient(90deg, #c93e3e, #7c0505); */
  padding: 3rem 0 0 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
}
