.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    max-width: 350px;
    margin: 40px auto;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 13px;
    
}

.page-nav button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ffffff67;
}