.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(90deg, #275191, #1e457e); */
  background: linear-gradient(90deg, #102341, #0d1a2e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(-102%);
  transition: all 0.5s ease;
  
}

.hamburger-menu * {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.open {
  transform: translateY(0);
  display: flex;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1rem;
}

.close-menu {
  background: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10%;
  font-size: 1rem;
  padding: 0.5rem;
  padding-right: 0.7rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
