.nav {
  display: flex;
  gap: 2rem;

  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li:hover,
.nav li:active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signin {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.712);
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 10px;
  padding: 11px;
  font-size: 0.75rem;
  font-weight: 700;
  /* margin-left: -40px; */
  cursor: pointer;
}

.user {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 1400px) {
  .nav {
    font-size: 1rem;
    gap: 1rem;
  }

  .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
  }

  .user-image {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }

  .user-container {
    display: none;
  }
}
