.nav {
  display: flex;
  gap: 4rem;

  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

/* .nav-link {
} */

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li:hover,
.nav li:active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
